@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
    --color-dark: #001427;
    --color-dark-transparent: #001427b7;
    --color-primary: #bf0603;
    --color-hero-highlight: #f19975;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

.spacer {
    margin: 2rem 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Header Section */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.3rem;
    /* border-bottom: 2px solid var(--color-dark); */
}

.header .container a {
    font-weight: 700;
}

.header .container a:hover {
    color: var(--color-primary);
}

.header .container a:hover svg {
    fill: var(--color-primary);
}

.header .nav-links,
.header .nav-right {
    display: flex;
}

.header .nav-right {
    justify-content: space-between;
}

.header .nav-links {
    list-style: none;
    justify-content: space-betwen;
    align-items: center;
}

.header .brand img {
    width: 80px;
}

.nav-links li {
    margin: 0 2rem;
}

.nav-btn.cart {
    display: flex;
    align-items: center;
}

.header .brand {
    flex: 1;
}

.header .nav-links {
    flex: 2;
}

.header .nav-right {
    flex: 0.5;
}

.header input {
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    border: 1px solid var(--color-dark-transparent);
    font-size: 1rem;
}

.header input:focus {
    outline: none;
}

.nav-right a {
    margin: 0 1rem;
}

.header svg {
    fill: var(--color-dark);
}

/* Hero Section */
.hero {
    position: relative;
    width: 100vw;
    height: 85vh;
    background: url(../img/hamburger.jpg) no-repeat bottom center/cover;
}

.hero::before {
    z-index: 2;
    content: "";
    background-color: var(--color-dark-transparent);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .container {
    display: flex;
    height: 100%;
}

.hero .container > div {
    flex: 1;
}

.hero .content {
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .content h2,
.hero .content h3 {
    text-transform: uppercase;
    color: var(--color-hero-highlight);
}

.hero .content h2 {
    font-size: 4.5rem;
    font-weight: 700;
}

.hero .content h3 {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-hero-highlight);
}

.hero .content p {
    font-size: 1.5rem;
    color: var(--color-hero-highlight);
    margin: 1.8rem 0 1rem;
}

.hero .button-container {
    display: flex;
}

.hero .button-container svg {
    fill: var(--color-hero-highlight);
}

.hero .button-container .btn:nth-of-type(1) {
    margin-right: 2rem;
}

/* Buttons */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-hero-highlight);
    border: var(--color-hero-highlight) solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 12rem;
    padding: 1rem 1.2rem;
    transition: all 0.3s ease;
}

.btn-solid {
    background-color: var(--color-hero-highlight);
    color: var(--color-dark);
}

.btn:hover {
    opacity: 0.85;
    transform: scale(0.9);
}

/* Items Grid */
.items-grid .container {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 3rem;
}

.items-grid .container > div {
    position: relative;
    height: 300px;
    width: 30%;
}

.items-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items-grid .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-dark-transparent);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-grid .caption h3 {
    text-transform: uppercase;
}

.welcome-description {
    padding: 3rem 0;
}

.welcome-description .container {
    display: flex;
}

.welcome-description .text-data {
    flex: 3;
    padding-right: 1rem;
}

.text-data h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.text-data p:nth-of-type(1) {
    padding: 1rem 0;
}

.welcome-description .location {
    flex: 1;
}

.location img {
    width: 200px;
}

.location h3 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

/* login form */
.container.login-form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    color: var(--color-dark);
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    /* background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 /
        cover; */
    background: #870000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #190a05,
        #870000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #190a05,
        #870000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

/* Animation */

/* Move signin to the right */
.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over sign in */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.overlay-panel p {
    padding: 1.3rem 0;
}

.spacer.login-page {
    margin: 4rem 0;
}

/* Menu Grid */

.product-page {
    color: var(--color-dark);
}

.product-page h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.product-page .menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1270px;
    gap: 1.4rem;
    margin: auto;
}

.card {
    background-color: #ffdab9c0;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.card-header {
    overflow: hidden;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card-header img:hover {
    transform: scale(1.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.3rem;
}

.tag {
    background: #777;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
}

.tag-teal {
    background-color: var(--color-primary);
}

.card-body h4 {
    margin: 10px 0;
}

.card-body p {
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

/* Product Details Page */
.product-detail .container.card {
    color: var(--color-dark);
    width: 1200px;
    min-height: 500px;
    padding: 1rem;
}

.product-detail .container.card {
    display: flex;
    justify-content: space-between;
}

.product-detail .container.card > div {
    flex: 1;
}

.product-detail img {
    width: 300px;
}

.product-detail .img-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-specs h2 {
    font-size: 2rem;
    margin-top: 4rem;
}

.product-specs .description {
    padding-bottom: 1rem;
}

.product-specs .price-input {
    display: flex;
    align-items: center;
}

.price-input p {
    padding-right: 0.5rem;
}

.product-specs input {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    padding-left: 1.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-dark-transparent);
    font-size: 1rem;
    width: 4rem;
}

.product-specs .price {
    padding: 0.5rem 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.product-specs .btn {
    margin-top: 1rem;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.product-detail .btn {
    border-radius: 0;
}

/* Cart List Page */
.cart-list .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
}

.cart-list img {
    width: 200px;
    height: 190px;
    object-fit: cover;
}

.cart-list h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

.cart-list h3 {
    font-size: 1.7rem;
    padding: 1.8rem 0;
}

.cart-list h5 {
    font-size: 0.9rem;
    font-weight: 300;
}

.cart-list .remove-button {
    display: flex;
    justify-content: center;
}

.cart-list .checkout-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
